@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-contrast: #dedede;

  --color-primary: #6ecbf1;

  --color-dark-50: #f4f5f7;
  --color-dark-100: #e4e5e9;
  --color-dark-200: #cbcdd6;
  --color-dark-300: #a7aab9;
  --color-dark-400: #7b7f95;
  --color-dark-500: #60637a;
  --color-dark-600: #525468;
  --color-dark-700: #474957;
  --color-dark-800: #3f3f4b;
  --color-dark-900: #383941;
  --color-dark-925: #212126;
  --color-dark-950: #09090b;
  --color-dark: #09090b;
}

:root {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-dark text-contrast;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* TAGS */
button {
  cursor: pointer;
}
input[type="checkbox"] {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* CLASSES */
.field-base {
  @apply block rounded-sm border-2 border-neutral-400 focus:border-neutral-300 transition-colors duration-300 bg-neutral-800 w-full p-4 focus:outline-none;
}
.button-base {
  @apply flex items-center justify-center gap-1 font-semibold rounded-3xl;
}
.button-base.xl {
  @apply text-lg py-3 px-5 rounded-3xl;
}
.button-base.lg {
  @apply text-sm py-2.5 px-4 rounded-3xl;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.thin-scrollbar::-webkit-scrollbar-track {
  @apply bg-dark-925;
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-contrast/20 rounded-full;
}

.sidebar > div::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.sidebar > div::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.sidebar > div::-webkit-scrollbar-thumb {
  @apply bg-contrast/20 rounded-full;
}
